@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;700&display=swap');

* {
  color: white;
  font-family: 'Source Serif 4', sans-serif;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::selection {
  background-color: #EE959E;
  color: white;
}

.hidden {
  display: none;
}

.fa-map-marker-alt {
  position: absolute;
  right: 85px;
  top: 10px;
}

#weather {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 10px;
}

.dot {
  position: absolute;
  right: 7px;
  top: 30px;
  font-size: 10px;
  font-weight: 700;
}

#clock {
  font-size: 150px;
}

#greeting {
  margin-top: -135px;
}

#main-focus {
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 600;
}

.input {
  text-align: center;
  color: white;
  border: none; 
  outline: none;
  background: transparent;
  border-bottom: 3px solid white;
  padding: 14px 140px;
  font-size: 26px;
}

#todo-list {
  font-size: 26px;
}

button {
  margin-right: 5px;
  border: none; 
  background: transparent;
}

#quote {
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
}

img {
  position:absolute;
  width:100%;
  height:100%;
  left: 0px;
  top: 0px;
  right:0px;
  bottom:0px;
  z-index: -1;
  opacity:8
